*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_history{
    width: 20px;
}

.a_history{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.dark .a_history{
    color: black;
}

#users{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#userss{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Infos{
    color: white;
}

