#sidebar.open-sidebar {
    left: 0;
    z-index: 999;
}

/* Estilos do menu bar */
#menu-bar {
    position: fixed;
    top: 140px;
    left: 140px;
    cursor: pointer;
}

/* Estilos do conteúdo principal */
#main-content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}
